body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.6px;
  margin: 0;
  padding: 0;
  background-color: #1d1d1b;
  color: #e1e1e1;
}

.contenedor {
  max-width: 1240px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 24px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.logo a {
  text-decoration: none;
  color: transparent;
}

.logoImg {
  max-width: 120px;
  height: auto;
}

.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  padding: 12px 24px;
}

.navegacion ul {
  list-style: none;
  padding: 0;
}

.navegacion ul li {
  display: inline;
  margin: 0 24px;
}

.navegacion ul li a {
  color: #e1e1e1;
  text-decoration: none;
  font-weight: 500;
}

.navegacion ul li a:hover {
  background: linear-gradient(to right, #009641, #e6007f);
  -webkit-background-clip: text;
  color: transparent;
}

.seccion {
  margin-top: 16px;
  padding: 60px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 500px;
  min-width: 100%;
  gap: 40px 80px;
}

.seccion h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}

.seccion h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}

.patron {
  position: relative;
  background-color: transparent;
  z-index: 1;
}

.patron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("./IMG/PATRONfinal.svg");
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.3;
}

/* inicio */

.img-inicio {
  max-width: 40%;
}

/* nosotros */

.seccion-nosotros {
  display: flex;
}

.nosotros_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px 36px;
  width: 90%;
  gap: 12px;
}

.nosotros_div p {
  text-align: left;
  width: 85%;
}

.nosotros_img {
  max-width: 70%;
  border-radius: 12%;
  margin-top: 24px;
}

.nosotros_img1 {
  max-width: 69%;
  border-radius: 12%;
  margin-top: 24px;
}

/* servicios */

.seccion-servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.servicios_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px 48px;
  gap: 12px;
}

.servicios_div p {
  text-align: left;
  width: 70%;
}

.servicios_img {
  max-width: 60%;
  border-radius: 12%;
  margin-top: 24px;
}

.servicios_img3 {
  max-width: 44%;
  border-radius: 16%;
}

/* portafolio */

.seccion-portafolio {
  display: flex;
  flex-direction: column;
  width: 96%;
  gap: 36px;
  padding: 36px 48px;
}

.portafolio_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 24px;
  border-radius: 24px;
  background-color: #4747471b;
}

.proyecto_portafolio_descripcion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 60%;
}

.portafolio_img {
   max-width: 24%;
  border-radius: 12%;
  margin-top: 24px;
}

/* contacto */

.seccion-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 36px 60px;
  gap: 24px;
}

.contacto {
  display: flex;
  align-items: center;
}


.contacto_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px 48px;
  gap: 24px;
}

.contacto_div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px 48px;
  gap: 24px;
}

.contacto_div3{
  text-align: left;
  padding-left: 84px;
  padding-top: 12px;
}

.contacto_div3 i{
  padding-top: 12px;
}

.contacto_div1 p {
  text-align: justify;
  margin-bottom: 24px;
  width: 80%;
}

.contacto_div2 p {
  text-align: justify;
  margin-bottom: 24px;
  width: 80%;
}
.contacto_redes {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contacto_redes i {
  font-size: 48px;
  color: #e1e1e1;
  transition: color 0.3s ease-in-out;
  
}

.contacto_redes i:hover {
   background: linear-gradient(to right, #009641, #e6007f);
  -webkit-background-clip: text;
  color: transparent;
}

/* formulario */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 72%;
}

.formulario input,
.formulario textarea {
  padding: 12px;
  border: 2px solid #9f9f9f15;
  border-radius: 12px;
  font-size: 16px;
}

.formulario textarea {
  min-height: 120px;
}

.formulario button {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: #009641cc;
  color: #e1e1e1;
  font-size: 16px;
  cursor: pointer;
  width: 32%;
}

.formulario button:hover {
  background: linear-gradient(to right, #009640, #e6007e);
}

/* footer */
footer {
  border: 4px solid #9f9f9f15;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  background: #9f9f9f0e;
  color: #9f9f9f;
  width: 60%;
}

/* Botón de Volver Arriba */
.scroll-top {
  position: fixed;
  bottom: 36px;
  right: 36px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
  background-color: #e6007fcb;
  color: #e1e1e1;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 1;
  z-index: 1000;
}

.scroll-top:hover {
    background: linear-gradient(to right, #009641, #e6007f);

}
